*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}
main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 30% 50% 20%;
}


/* TOP WING */
.top{
    /* background: #fff; */
    padding: 2vw 1vw 0 4vw;
    height: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
}
.top .topLeft{
    height: 1vw;
    width: 1vw;
    rotate: 45deg;
    animation: diamond 1.5s;
    animation-fill-mode:forwards;
}

@keyframes diamond {
    from{
        transform: rotate(0deg);
        background: #fff;
    }
    to{
        transform: rotate(360deg);
        background: orangered;
    }    
}
.top .topRight{
    justify-self: flex-end;
    overflow: hidden;
}
.top .topRight li{
    padding: 0.1vw;
    list-style: none;
    text-align: right;
    font-size: 1.3vmax;
}
.top .topRight a{
    text-decoration: none;
    color: #00000076;
    /* animation: nav 1.5s; */
    /* animation-fill-mode: forwards; */
}

/* Desired animation output not acheived */
/* @keyframes nav {
    from{
    margin-right: -10vw;
    }
    to{
    margin-right: 0vw;
    }
} */

.top .topRight .active{
    color: orangered;
}
/* TOP WING ends */



/* RIGHT WING */
.right{
    /* background: red; */
    grid-column: 2;
    grid-row: 1 / 4;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right bottom;
    /* border-radius: 8px; */
}

/* RIGHT WING ends */


/* MIDDLE WING */
.middle{
    padding-left: 5vw;
}
.middle h1{
    font-size: 4.4vw;
    text-transform: uppercase;
}
.middle :nth-child(1){
    padding-left: 9vw;
    color:orangered;
    animation: D 1.5s;
    animation-fill-mode:forwards;
}
@keyframes D {
    from{
        padding-left: 0;
    }
    to{
        padding-left: 9vw;
    }
}
    

.middle :nth-child(2){
    padding-left: 20vw;
    margin-bottom: 1.5vw;
    color: orangered;
    animation: J 1.5s;
    animation-fill-mode: forwards;
}

@keyframes J {
    from{
        padding-left: 10vw;
    }
    to{
        padding-left: 20.2vw;
    }
}

.middle :nth-child(3){
    animation: Ac 1.5s forwards;
}
@keyframes Ac {
    from{
        margin-left: -20vw;
    }    
    to{
        margin-left: 0vw;
    }
    }

.middle :nth-child(4){
    /* padding-left: 16vw; */
    animation: S 1.5s forwards;
}
@keyframes S {
    from{
        margin-left: -16vw;
    }
    to{
        margin-left: 16vw;
    }
}

.middle :nth-child(5){
    /* padding-left: 23.5vw; */
    animation: E 1.5s forwards;
}
@keyframes E {
    from{
        margin-left: -23.5vw;
    }
    to{
        margin-left: 23.5vw;
    }
}
/* MIDDLE WING ends */



/* BOTTOM  WING */
.bottom{
    padding: 4vmax 0 1vmax 4vmax;
    align-self: flex-end;
}
.bottom p{
    font-size: 2vw;
}
.bottom .dollor{
    color: green;
}
.bottom .pink{
    color: rgb(162, 0, 168);
}
.bottom .Naruto{
    color: orangered;
}
/* BOTTOM WIND ends */


/* ABOUT Section */

#about h2{
    padding-left: 4vmax;
}
#about a{
    color: #000;
}

/* TIMELINE Starts */
#timeline{
    padding: 5vmax 4vmax;
}
#timeline h2{
    font-size: 3vmax;
}
#timeline .timelineBorder{
    height: 50vmax;
    margin-left: 2.5vmax;
    border-left: 2px solid #000;
}
#timeline .timelineBorder h3{
    margin: 2vmax 0;
    color: orangered;
}
#timeline .timelineBorder .year{
    font-size: 1.6vmax;
    padding-left: 2.5vmax;
    margin-top: 2vmax;
}
#timeline .timelineBorder .year li{
    padding-left: 2vmax;
    list-style: none;
}

/* TIMELINE ends */


/* FOOTER */

footer{
    position: relative;
    background: #fff;
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  footer .social-media, .menu{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
  }
  footer .social-media li, .menu li{
    list-style: none;
  }
  ion-icon {
    color: #000;
  }
  footer .social-media li a{
    font-size: 2vw;
    color: #000;
    display: inline-block;
    transition: 0.5s;
    margin: 0px 10px;
  }
  footer .social-media li a:hover{
    transform: translateY(-10px);
  }

  footer .menu li a{
    font-size: 1vmax;
    color: #000;
    display: inline-block;
    opacity: 0.75;
    margin: 0px 0.8vmax;
    text-decoration: none;
  }
  footer .menu li a:hover{
    opacity: 1;
  }
  footer p{
    font-size: 1vmax;
    color: #000;
    font-weight: 800;
    margin: 0.5vmax 0px;
  }
  /* FOOTER ends */









/* RESPONSIVE DESIGN */
@media (max-width:700px) {
    main{
        grid-template-columns: 100%;
        grid-template-rows: 10% 40% 10% 40%;
    }

    /* TOP  WING RESPONSIVE*/
    .top{
        padding: 1.5vh 1vh 0 2vh;
        grid-template-columns: 10% 90%;
        grid-template-rows: 100%;
    }
    .top .topLeft{
        height: 1.5vh;
        width: 1.5vh;
    }
    
    .top .topRight li{
        padding: 0.2vh;
        font-size: 2vh;
        text-align: center;
        display: inline;
    }
    .top .topRight{
        justify-self: center;
        padding-right: 5vh;
        margin-top: 6vh;
    }
    /* TOP WING  RESPONSIVE ends */


    /* RIGHT WING responsive */
    .right{
        grid-column: 1;
        grid-row: 4;
    }
    .right img{
        object-position: 40% 40%;
    }
    /* RIGHT WING responsive done! */


    /* MIDDLE WING responsive */
    .middle{
        margin-top: 10vh;
        justify-self: center;
    }
    .middle h1{
        font-size: 5vh;
    }
    .middle :nth-child(1){
        padding-left: 2vh;
    }
    .middle :nth-child(2){
        padding-left: 14.5vh;
        margin-bottom: 3vh;
    }
    .middle :nth-child(3){
        text-align: left;
    }
    .middle :nth-child(4){
        padding-left: 7.5vh;
        text-align: left;
    }
    .middle :nth-child(5){
        padding-left: 7.5vh;
    }

    @keyframes J {
        from{
            padding-left: 10vw;
        }
        to{
            padding-left: 16.5vh;
        }
    }

    @keyframes Ac {
        from{
            margin-left: -10vh;
        }    
        to{
            margin-left: 0vh;
        }
        }

        @keyframes S {
            from{
                margin-left: -16vw;
            }
            to{
                margin-left: 0.2vh;
            }
        }

        @keyframes E {
            from{
                margin-left: -23.5vw;
            }
            to{
                margin-left: 0.2vh;
            }
        }
    /* MIDDLE  WING responsive done! */

    /* BOTTOM  WING responsive */
    .bottom{
        grid-row: 3;
    }
    .bottom p{
        font-size: 1.5vh
    }
    /* BOTTOM WING  responsive done! */


    footer .social-media li a{
        font-size: 3vh;
      }

      footer .menu li a{
        font-size: 2vh;
      }
      footer p{
        font-size: 1vh;
      }
}